[defaults]
inventory = inventories/local/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
nocows = True

[ssh_connection]
pipelining = True
